.nav-bar {
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.input-search{
    width: 300px;
}
.input-search:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}