.main-section {
  margin: 0 10%;
}
.image-ingredients {
  display:flex;
  align-items: flex-start;
  justify-content: space-around;
}

.ingredients-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.nutrition-ingredients {
  display: flex;
  justify-content: space-between;
}
.ingredients {
  width: 65%;
  padding-left: 5%;
  padding:10px;
  margin: 10px;
}
.nutrition {
  width: 35%;
  padding-left: 5%;
  padding:10px;
  margin: 10px;
}
li {
  list-style: none;
}
.nutrition-list {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
