

.drop-down-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  font-size: 1.6rem;
}

.recipies-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 3vw;
}
.cuisineTitle{
  padding-right: 1rem;
}


.one-recipe-img:hover{
  opacity: 0.5;
}
.card-image{
  margin: 30px;
  width: 200px;
  color: black;
  height: 200px;
}
.card-image img{
  max-height: 200px;
  max-width: 350px;
  box-shadow: 4px 1px 10px 4px grey;
}
.one-recipe {
  text-align: center;
  height: 200px;
  width: 250px;
  margin: 10px;
}
.one-recipe-img{
  box-shadow: 4px 1px 10px 4px grey;
}

.load-more{
  margin-bottom: 50px;
}
#recipe-title{
  font-size: 1.4rem;
  padding-top: 0.5rem;
}
#more-button{
  width: 10rem;
  text-align: center;
  
}
#more-button-section{
  display: flex;
  padding: 3rem 0;
  justify-content: center;
}

