@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhai+2:wght@400;600&family=Kaushan+Script&display=swap');

ApiProvider {
    margin: 0 0rem
}

.App {
    margin: 0 10%;
}

.nav>* :hover {
    cursor: pointer;
}

.star :hover {
    cursor: pointer;
}

* {
    font-size: 18px;
    font-family: 'Baloo Bhai 2';
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

imgSlideShow {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.logoA {
    font-family: 'Kaushan Script';
    font-weight: bold;
    font-size: 27px;
}

.logoB {
    font-family: 'Anton';
    color: #f8b652;
}

.userInfo {
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid #F94F72;
    margin-bottom: 8px;
    caret-color: #F94F72;
}

.userInfo:focus,
.bbtn:focus {
    outline: none;
}

.bbtn {
    border: 1px solid rgb(122, 170, 74);
    background: rgb(121, 187, 54);
    background-image: -moz-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: -ms-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: -o-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: -webkit-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    outline: none;
}

.bbtn:hover {
    background: #F94F72;
    color: #000;
    border: 1px solid #000;
}

.navLinkBtn {
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.navLinkBtn:hover {
    color: #f8b652;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;

}

input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192, 192, 192);
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}

input[type=radio]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=radio]:not(old):checked+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid rgb(115, 153, 77);
    border-radius: 0.125em;
    background: rgb(153, 204, 102);
    background-image: -moz-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -webkit-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

.card-image-all-food {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-weight: 100;
    box-shadow: 2px 1px 10px 2px rgb(150, 144, 147);
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
}

@keyframes stretch {
    20% {
        background-color: transparent;
    }

    50% {
        background-color: transparent;
    }

    20% {
        background-color: transparent;
    }

    100% {
        background-color: rgb(243, 94, 94);
    }
}

.element {
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.animationCard {
    animation: pulse 2s ease infinite alternate,
        nudge 5s linear infinite alternate;
}

/* skew */

@-webkit-keyframes hvr-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes hvr-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }

    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }

    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }

    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }

    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }

    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.hvr-wobble-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-skew:hover,
.hvr-wobble-skew:focus,
.hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}