* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 10rem;
}

/* AllFood Page */
.card-image-all-food {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-weight: 100;
  box-shadow: 2px 1px 10px 2px rgb(150, 144, 147);
}